<div class="container-fluid">
  <div class="row list-panel">
    <div class="col-md-12 pl-0 pr-0" *ngIf="epic">
      <div class="heading">
        <h5 class="text-primary">{{epic.name}}</h5>
        <p class="text-primary">{{epic.description}}</p>
        <p *ngIf="epic.commentsIds.length">
          <span class="text-info">comments</span>
          <span class="small text-info">
            <span>(</span><span>{{epic.commentsIds.length}}</span><span>)</span>
          </span>
        </p>
        <p *ngIf="!epic.commentsIds.length">this epic has not any comment yet</p>
      </div>
      <ul *ngIf="epic && epic.commentsIds.length">
        <li *ngFor="let epicCommentId of epic.commentsIds">
          <local-epic-comment-link [epicCommentId]="epicCommentId"></local-epic-comment-link>
        </li>
      </ul>
      <div class="col-md-6 pl-0 pr-0">
        <local-epic-comment-create></local-epic-comment-create>
      </div>
    </div>
  </div>

</div>
