<nav class="navbar navbar-toggleable-md bg-faded bg-inverse" role="navigation">
  <a href="#" class="navbar-brand">
    <span>Scraaam</span>
    <!--
    <img alt="logo" src="images/logo.png" height="50">
    -->
  </a>
  <ul class="nav navbar-nav mr-lg-auto ml-lg-auto ml-md-0 mr-md-0 projects-menu">
    <li *ngIf="!projects || !projects.length" class="nav-item"><a class="nav-link no-href" (click)="createProject()">crear proyecto</a></li>
    <li *ngIf="projects && projects.length" class="nav-item dropdown" ngbDropdown>
      <a ngbDropdownToggle class="dropdown-toggle nav-link" data-toggle="dropdown" no-href>
        <span *ngIf="!project || !project.name">projectos</span>
        <span *ngIf="project && project.name">{{project.name}}</span>
         <b class="caret"></b>
      </a>
      <ul class="dropdown-menu " role="menu">
        <ng-container *ngFor="let projectItem of projects">
          <li class="dropdown-item  nav-item"
             *ngIf="projectItem && (!project || projectItem.id != project.id)">
            <a class="nav-link no-href" [routerLink]="['/project', projectItem.id]">{{ projectItem.name }}</a>
          </li>
        </ng-container>
        <li class="dropdown-item nav-item"><a class="nav-link no-href" no-href (click)="createProject()">create project</a></li>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="nav-item dropdown" ngbDropdown>
      <a ngbDropdownToggle class="dropdown-toggle nav-link" no-href data-toggle="dropdown">
        <span>Alejandro Castro</span> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu bg-inverse" role="menu">
        <li class="dropdown-item bg-inverse nav-item"><a class="nav-link" href="#">Account</a></li>
        <li class="dropdown-item bg-inverse nav-item"><a class="nav-link" href="#">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row route-info">
    <div class="col-sm-12">
      <span *ngIf="project">
        <a class="no-href" [routerLink]="['/project', project.id]">{{project.name}}</a>
        <span class="text-mutted"> >> </span>
        <span *ngIf="!milestone">milestones</span>
      </span>
      <span *ngIf="milestone">
        <a class="no-href" [routerLink]="['/milestone', milestone.id]">{{milestone.name}}</a>
        <span class="text-mutted"> >> </span>
        <span *ngIf="!epic">epics</span>
      </span>
      <span *ngIf="epic">
        <a class="no-href" [routerLink]="['/epic', epic.id]">{{epic.name}}</a>
        <span class="text-mutted"> >> </span>
        <span>comments</span>
      </span>
    </div>
  </div>
  <div class="row"><div class="separate-y"></div></div>
</div>
