
body {

}
body:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -2;
    left: 0;
    right: 0;
    background-image: -webkit-radial-gradient(top, circle cover, #393b45 0%, #2d3038 70%);
    background-image: -moz-radial-gradient(center, circle cover, #393b45 0%, #2d3038 70%);
    background-image: -o-radial-gradient(center, circle cover, #393b45 0%, #2d3038 70%);
    background-image: radial-gradient(center, circle cover, #393b45 0%, #2d3038 70%);
    background-position: 50%, 50%;
}

/*default*/
.projects-menu{
  padding-right: 0;
}

/*sm*/
@media (min-width: 576px) {

}

/*md*/
@media (min-width: 768px) {

}

/*lg*/
@media (min-width: 992px) {
  .projects-menu{
    padding-right: 20em;
  }
}

@media (min-width: 1200px) {

}

.no-href{
  cursor: pointer;
}
.route-info{
  background-color: #44464f;
}
.route-info a{
  font-weight: bold;
  text-decoration: none;
  color: #BBB;
}
.route-info a:focus{
  text-decoration: none;
  color: #BBB;
}
.route-info a:hover{
  text-decoration: none;
  color: #FFF;
}

.secondary-panel{
  background-color: #24262d;
  color: #EEE;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
  overflow-y: hidden;
}

.separate-y{
  width: 100%;
  border-bottom-color: #333;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.cave-theme .alert,
.cave-theme button.btn,
.cave-theme input.form-control,
.cave-theme textarea.form-control{
  border-radius: 0;
}

.cave-theme .form-control {
  border-color: #555;
}
.cave-theme .form-control:focus {
  border-color: #5cb3fd;
}

.cave-theme .principal-panel input.form-control,
.cave-theme .principal-panel textarea.form-control{
  background-color: #38384c;
  color: #FFF;
}

.cave-theme .secondary-panel input.form-control,
.cave-theme .secondary-panel textarea.form-control{
  background-color: #303038;
  color: #FFF;
}

.cave-theme .modal-content{
  background-color: #777;
  color: #eee;
}
.cave-theme .modal-content input.form-control{
  background-color: #999;
  color: #FFF;
}
.cave-theme .modal-header{
  border-bottom: 1px solid #999;
}
.cave-theme .modal-footer{
  border-top: 1px solid #999;
}

.cave-theme .alert,
.cave-theme .form-group{
  margin-bottom: 0.5rem;
}

.epic-task-link{
  margin-bottom: 0.5rem;
}

.cave-theme .epic-task-link{
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #999;
}

.cave-theme .text-primary{
  color: #FFF !important;
}

.cave-theme .alert{
  padding-top: 0;
  padding-bottom: 0;
}

.cave-theme .dropdown-item:focus,
.cave-theme .dropdown-item:hover,
.cave-theme .dropdown-menu{
  background-color: #292b2c;
}

.cave-theme .navbar-nav .nav-link:focus,
.cave-theme .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}
.cave-theme .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.cave-theme .navbar-brand{
  color: #f6a821;
}

body.cave-theme{
  color: #949ba2;
}

.list-panel .heading p{
  margin-bottom: 5px;
}

.list-panel .heading{
  padding-top: 10px;
}

.list-panel .heading p{
  margin-bottom: 5px;
}

.list-panel ul{
  padding-left: 0px;
}
.list-panel li{
  display: block;
}
.list-panel a,
.list-panel a:hover{
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.cave-theme .list-panel ul li a{
  color: #949ba2;
}

.cave-theme .list-panel ul li a:hover{
  color: #fff;
}

.cave-theme .principal-panel .list-panel ul li a:hover{
  background-color: #24262d;
}
.cave-theme .secondary-panel .list-panel ul li a:hover{
  background-color: #44464f;
}



/*dashboard*/
.dashboard{
  padding-top: 10px;
}
.cave-theme .dashboard{
  color: #949ba2;
}

.dashboard h1{
  font-size: 30px;
}

.cave-theme .dashboard h1{
  color: #bbb;
}
