
body {

}
/*default*/
.projects-menu{
  padding-right: 0;
}

/*sm*/
@media (min-width: 576px) {

}

/*md*/
@media (min-width: 768px) {

}

/*lg*/
@media (min-width: 992px) {
  .projects-menu{
    padding-right: 20em;
  }
}

@media (min-width: 1200px) {

}

.no-href{
  cursor: pointer;
}
