<div class="container-fluid">
  <div class="row route-info">
    <div class="col-sm-12" *ngIf="project">
      <a class="no-href" [routerLink]="['/project', project.id]">{{project.name}}</a>
      <span>milestones</span>
    </div>
  </div>
  <div class="row"><div class="separate-y"></div></div>
  <div class="row project-view">
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg-4 left-panel milestone-list">
      <local-milestone-list></local-milestone-list>
    </div>
  </div>
</div>
